{% extends '::control.html.twig' %}

{% block content %}

    {% block btn_webplatform_content %}
        <div class="starter-template">
            <h1>{{ 'admin_area'|trans }}</h1>
            <div class="lead"></div>
        </div>
    {% endblock %}

{% endblock %}
