{% form_theme form 'BtnAdminBundle:Form:fields.html.twig' %}

<form action="{{ form.vars.action }}" method="post" {{ form_enctype(form) }} class="well form-horizontal" novalidate>
    <fieldset>
        <legend>{{ legend }}</legend>

        {{ form_rest(form) }}

    </fieldset>
</form>
